@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?tfwtlt');
  src:  url('./fonts/icomoon.eot?tfwtlt#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?tfwtlt') format('truetype'),
    url('./fonts/icomoon.woff?tfwtlt') format('woff'),
    url('./fonts/icomoon.svg?tfwtlt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shalou:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
  color: #c1c1c1;
}
.icon-look:before {
  content: "\e902";
  color: #c1c1c1;
}
.icon-hidden:before {
  content: "\e903";
  color: #c1c1c1;
}
.icon-clock:before {
  content: "\e904";
  color: #fff;
}
.icon-lock:before {
  content: "\e905";
  color: #999;
}
.icon-scan:before {
  content: "\e906";
}
.icon-message:before {
  content: "\e907";
}
.icon-network:before {
  content: "\e908";
  color: #999;
}
.icon-account:before {
  content: "\e909";
  color: #999;
}
.icon-gongyingshang:before {
  content: "\e90a";
  color: #f5b710;
}
.icon-contract:before {
  content: "\e90b";
  color: #cdcdcd;
}
.icon-business:before {
  content: "\e90c";
  color: #cdcdcd;
}
.icon-approve:before {
  content: "\e90d";
  color: #cdcdcd;
}
.icon-other-message:before {
  content: "\e90e";
  color: #f5b710;
}
.icon-shop-address:before {
  content: "\e90f";
  color: #f6b710;
}
.icon-down:before {
  content: "\e910";
  color: #969799;
}
.icon-extended-area:before {
  content: "\e911";
  color: #f6b710;
}
.icon-maintenance-provider:before {
  content: "\e912";
  color: #f5b710;
}
.icon-intention-information:before {
  content: "\e913";
  color: #f6b710;
}
.icon-open:before {
  content: "\e914";
  color: #969799;
}
.icon-phone:before {
  content: "\e915";
  color: #c2c2c2;
}
.icon-Unchecked:before {
  content: "\e916";
}
.icon-checked .path1:before {
  content: "\e917";
  color: rgb(246, 183, 16);
}
.icon-checked .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-contacts:before {
  content: "\e919";
  color: #c2c2c2;
}
.icon-brand:before {
  content: "\e91a";
  color: #c2c2c2;
}
